<header>
<div id="noSearchResultBanner"></div>
</header>
<div>
<h1 id="restaurant-no-result-title"><i class="far fa-sad-tear" id="sad-face"></i></br>沒有相符的搜尋結果</h1>
</div>
<a class="link-offset-2 link-underline link-underline-opacity-0" href="/" id="backtotop">返回上一頁</a>
