header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg');
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding-left: 0px;
  padding-right: 0px;  
}

.card img {
  height: 180px;
}

.card-img-top{
  object-fit: cover;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*create page*/

.form-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 100px;
}

label{
  margin-bottom: 25px;
}

input,select {
  width: 200px;
}

a{
  text-decoration:none;
  color:white;

}

a:hover{
  color: white;
}

.editarea{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  align-items: center;
  background-color: #ab8c8c;
  margin-top: 10px;
  border-radius: 15px;
  font-size: 0.8rem;
}

#createBtn{
  width:300px;
  color:white;
  background-color: orangered;
  border-radius: 10px ;
  border-width: 0px;
  padding-top:5px;
  padding-bottom: 5px;
}

#modifyBtn{
  width: 300px;
    color: white;
    background-color: darkgreen;
    border-radius: 10px;
    border-width: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#deleteBtn{
  color: white;
  border: none;
  background-color: #ab8c8c;
  padding: 0px;
}

#createNewRstBtn{
  background-color: #ab8c8c;
  color: white;
  border-radius: 15px;
  width: 100px;
  justify-content: center;
  display: flex;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1)
}

@media screen and (max-width: 992px) {

  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {

  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {

  .card img {
    height: auto;
  }

}

#noSearchResultBanner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 360px;
  background: #dddddd center center url('https://i.ibb.co/ZS5T962/pexels-cottonbro-5053987.jpg');
  background-size: cover;
  filter: blur(3px);
}

#backtotop {
  position: relative;
  top: -90px;
  left: 700px;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

#restaurant-no-result-title {
  position: relative;
  top: -200px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#backtomainpage {
  position: relative;
  top: -330px;
  left: 150px;
  color: white;
}

#sad-face{
  z-index: 10;
}
@media screen and (max-width: 768px) {
  #restaurant-no-result-title {
    font-size: 2rem;
  }
}